@use 'var' as v;

.footer {
  position: relative;
  left: 0px;
  bottom: 0px;
  padding: 25px 50px;
  width: 100%;
  background-color: v.$surface-muted;
  color: v.$text-primary;
  text-align: center;
}