@use 'var' as v;

header {
  width: 100%;
  font-family: v.$plus;
  font-weight: 700;
  font-size: 19px;

  nav {
    background-color: v.$surface-dark;

    .desktop-menu {
      display: grid;
      max-width: v.$xl;
      grid-template-columns: 1fr auto 1fr;
      margin: 0 auto; // this makes the nav in the center
      padding: 0 20px;

      @media screen and (width <=#{v.$m}) {
        display: grid;
        grid-template-columns: 1fr;
      }

      .left-side,
      .right-side {
        display: flex;
        column-gap: 0.25rem;
        text-transform: capitalize;
        align-items: center;

        @media screen and (width <=#{v.$m}) {
          display: none;
        }
      }

      .logo {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
      }

      .right-side {
        display: flex;
        justify-content: flex-end;
        column-gap: 20px;

        .right {
          display: flex;
          justify-content: center;
          flex-direction: row;
          column-gap: 20px;

          .dashboard {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 10px;

            .avatar {
              width: 35px;
              height: 35px;
              object-fit: cover;
              border-radius: 50%;
            }

            .username {
              color: v.$raw-white;
            }
          }
        }

        @media screen and (width <=#{v.$m}) {
          display: none;
        }
      }

      li {
        transition: 200ms;
        display: flex;
        align-items: center;
        margin: 12px 0;

        a {
          display: inline-block;
          width: auto;
          height: auto;
          transition: all 0.2s;
          border-radius: 5px;
          padding: 12px 10px;

          &:hover {
            color: v.$raw-white;
            background-color: v.$brand-primary;
          }

          &:active {
            color: v.$text-primary;
          }
        }
      }
    }

    .mobile-menu {

      #menu-toggle {
        display: none;

      }

      input:checked~.modal {
        transform: translate(0, 0);
      }

      .modal {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        transition: all 0.4s ease-out;
        background-color: v.$surface-dark;
        transform: translate(-100%, 0);
        z-index: 100;

        .close {
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: 40px;
          color: v.$raw-white;
          cursor: pointer;
        }

        .left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 35px;
          row-gap: 70px;
        }

        .right {
          display: flex;
          justify-content: center;
          flex-direction: row;
          column-gap: 20px;

          .dashboard {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 10px;

            .avatar {
              width: 3rem;
              height: 3rem;
              object-fit: cover;
              border-radius: 50%;
            }

            .username {
              color: v.$raw-white;
            }
          }
        }
      }

      @media screen and (width >=#{v.$m}) {
        display: none;
      }

      .hamburger {
        .line {
          position: relative;
          transform-origin: 1px;
          width: 2rem;
          height: 0.25rem;
          background-color: v.$raw-white;
          margin: 4px 0;
          transition: all 0.3s linear;
          border-radius: 10px;
        }

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        cursor: pointer;
        padding: 1rem;

        @media screen and (width >=#{v.$m}) {
          display: none;

        }
      }
    }
  }
}