@use 'var' as v;

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../../src/images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (width <=#{v.$m}) {
    min-height: v.$l;
  }

  .hero-mid {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: v.$white;
    // min-width: v.$s;
    max-width: v.$l;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    user-select: none;

    @media screen and (width <=#{v.$m}) {
      width: 100%;
      height: 100%;
      max-width: v.$m;
    }

    h1 {
      font-size: 40px;

      @media screen and (width <=#{v.$m}) {
        font-size: 35px;
        margin: 0 40px;
      }
    }

    p {
      font-size: 30px;

      @media screen and (width <=#{v.$m}) {
        font-size: 25px;
        margin: 0 40px;
      }
    }
  }
}