@use 'var' as v;

// Login
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 500px;

  .login-page__box__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    column-gap: 5px;
    font-size: 20px;
  }
  
  input, textarea, button {
    padding: 0.5rem;
  }
  
  button {
    background: v.$blue;
    color: v.$white;
    border: none;
    cursor: pointer;
    border-radius: 10%;
  }
}