@use 'var' as v;
@use 'header';
@use 'stories';
@use 'login';
@use 'footer';
@use 'hero';

* {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: v.$black;
  background-color: v.$white;
  font-family: v.$spec;
  font-size: 16px; // maybe change this 
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh; // could try with dvh, but eh, not yet.
}

section.main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 20px;
  max-width: v.$xl;
}

.bin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  row-gap: 15px;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: v.$play;
}

button {
  font-family: v.$plus;
}

.wrapper {
  max-width: v.$xl;
  margin: 0 auto;
  padding: 0 20px;
}