@use 'var' as v;
@use 'header';

h1, h2, h3, h4, h5 {
  font-family: v.$plus;
}

button {
  font-family: v.$plus;
}

.story-card {
  border: 1px solid v.$gray;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;

  img {
    max-width: 500px;
    max-height: 500px;
    display: flex;
    object-fit: cover;
  }

  p {
    font-family: v.$plus;
  }

  .progress-bar {
    height: 20px;
    background: v.$gray, 30%;
    margin: 1rem 0;
    border-radius: 20px;
    
    > div {
      height: 100%;
      background: v.$green;
    }
  }
}

// Forms
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 500px;

  .login-page__box__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }
  
  input, textarea, button {
    padding: 0.5rem;
  }
  
  button {
    background: v.$blue;
    color: v.$white;
    border: none;
    cursor: pointer;
    border-radius: 10%;
  }
}

// Admin Table
table {
  width: 100%;
  border-collapse: collapse;
  
  th, td {
    padding: 0.5rem;
    border: 1px solid v.$gray;
    text-align: left;
  }
  
  button {
    margin-right: 0.5rem;
  }
}