@use 'var' as v;
@use "sass:color";


.stories-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(v.$xs, 4fr));
  gap: 30px 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;

  &__story {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 15px;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.15);

    }

    &__top {
      display: flex;
      width: 100%;
      column-gap: 15px;
      align-items: center;
      padding: 0 10px;

      &__avatar {
        width: 50px;
        height: 50px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &__name {
        font-family: v.$plus;
        letter-spacing: 1px;
      }

      &__date {
        font-family: v.$play;
        font-size: 10px;
      }
    }

    &__card {
      position: relative;
      background-size: auto 130%;
      background-position: center bottom;
      background-repeat: no-repeat;
      border-radius: 15px;
      height: 425px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      padding: 0 35px;
      color: v.$white;
      transition: background-position 400ms;
      overflow: hidden;

      &:hover,
      &:focus-within {
        background-position: center top;

        .stories-list__story__card__content {
          transform: translateY(0);
        }

        .stories-list__story__card__content__description {
          opacity: 1;
        }
      }

      ::before{
        filter: brightness(0.5);
      }
      &::after {
        background-image: rgba(0, 0, 0, 0.5);
      }

      &__content {
        transform: translateY(calc(100% - 6.25rem));
        transition: transform 350ms;
        display: flex;
        align-content: center;
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
        line-height: 1.75rem;
        margin: 2rem 0;
        text-shadow: 1px 1px 1px black;

        @media screen and (width <= #{v.$m}) {
          transform: none;
        }

        &__title {
          display: flex;
          font-size: 25px;
          font-weight: 700;
          justify-content: center;
        }

        &__description {
          font-size: 20px;
          opacity: 0;
          transition: opacity 550ms;

          @media screen and (width <= #{v.$m}) {
            opacity: 1;
        }
        }

        &__button {
          cursor: pointer;
          margin-top: 1.5rem;
          padding: 0.75rem 1.5rem;
          font-size: 1rem;
          font-weight: bold;
          letter-spacing: 0.025rem;
          text-transform: uppercase;
          color: v.$white;
          background-color: v.$peach;
          border: none;
          border-radius: 5px;
          transition: 0.3s;

          &:hover {
            background-color: color.adjust(v.$peach, $lightness: 5%);
          }
        }
      }
    }
  }
}