$spec: "Spectral", serif; // main font
$plus: "M PLUS Rounded 1c", sans-serif; // for headers
$play: "Playwrite DE LA", cursive; // fancy one

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: #7f7f7f;
$blue: #0f0bfa;
$yellow: #fcca26;
$green: #48cc0a;
$purple: #f52560;
$peach: #f25c54;
$red: #e01b1b;
$violet: #7209b7;

$xl: 1200px;
$l: 992px;
$m: 768px;
$s: 420px;
$xs: 320px;